services:
  backend:
    build:
      context: .
      dockerfile: src/docker/Dockerfile
    container_name: backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 20s
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "8000"
    networks:
      - main_net
  frontend:
    build:
      context: ./web
      dockerfile: docker/Dockerfile
    container_name: frontend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 20s
    expose:
      - "3001"
    networks:
      - main_net
    depends_on:
      backend:
        condition: service_healthy
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yaml"
    volumes:
      - ./src/docker/monitoring/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus_data:/prometheus
    expose:
      - "9090"
    networks:
      - main_net
    depends_on:
      backend:
        condition: service_healthy
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 20s
    expose:
      - "3000"
    networks:
      - main_net
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/proxy_params.conf:/etc/nginx/proxy_params.conf:ro
    ports:
      - "80:80"
    networks:
      - main_net
    depends_on:
      backend:
        condition: service_healthy
      grafana:
        condition: service_healthy
      frontend:
        condition: service_healthy
  db:
    image: postgres:latest
    container_name: postgres_db
    env_file:
      - ./src/env/database_settings.env
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - main_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d marketplace"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  main_net:
    driver: bridge

volumes:
  postgres_data:
  prometheus_data:
